*{
    font-family: monospace;
}

.auth{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.mainpart {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}